<script lang="ts">
export default {
  name: 'ZbBottomSection',
};
</script>
<script lang="ts" setup></script>
<template>
  <p>按需测试 ZbBottomSection v0.0.2</p>
  <div class="co-bottom-suction">
    <div class="suction">
      <slot></slot>
    </div>
  </div>
</template>
<style lang="scss">
.co-bottom-suction {
  height: 80px;
  width: 100%;
  .suction {
    position: fixed;
    z-index: 900;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    box-shadow: 0px -4px 10px 0px rgba(115, 101, 101, 0.06);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 40px;
    background-color: #fff;
  }
}
</style>
