<script lang="ts">
export default {
  name: 'ZbButton',
};
</script>
<script setup lang="ts">
import { debounce, throttle, omit } from 'lodash-es'
import { ZbButtonProps } from './button'

const props = defineProps(ZbButtonProps)
const emit = defineEmits<{
  (e: 'click', val: MouseEvent): void
}>()

// 节流函数，在 wait 秒内最多执行 func 一次的函数
const throttleFunc = throttle(
  (e: MouseEvent) => emit('click', e),
  props.throttleWait,
  props.throttleSetting
)
// 防抖动函数，该函数会从上一次被调用后，延迟 wait 毫秒后调用 func 方法
const debounceFunc = debounce(
  (e: MouseEvent) => emit('click', e),
  props.debounceWait,
  props.debounceSetting
)

const handleClick = (e: MouseEvent) => {
  if (props.throttleWait) {
    throttleFunc(e)
  } else if (props.debounceWait) {
    debounceFunc(e)
  } else {
    emit('click', e)
  }
}
</script>
<template>
  <!-- omit: 忽略某些属性
    作用: 将el-button原生属性传递保留，忽略自定义的属性 -->
    <p>按需测试 ZbButton  v0.0.2</p>
  <ElButton v-bind="omit(props, ['throttleSetting', 'throttleWait', 'debounceSetting', 'debounceWait'])" @click="handleClick">
    <slot v-if="$slots.default" />
    <template v-if="$slots.loading" #loading>
      <slot name="loading" />
    </template>
    <template v-if="$slots.icon" #icon>
      <slot name="icon" />
    </template>
  </ElButton>
</template>

