<script setup lang="ts">
import { ZbBottomSection } from '../packages'
console.log('jackie: ZbBottomSection=',ZbBottomSection)
</script>
<template>
  <h1>表单底部栏</h1>
  <ZbBottomSection>
    <el-button type="primary" style="margin-left: 10px;">提交</el-button>
    <el-button>取消</el-button>
  </ZbBottomSection>
</template>
