<script setup lang="ts">
import { ref } from 'vue'
import { ZbButton } from '../packages'
const count = ref(0)
const handleClick = () => {
    count.value++
}
</script>
<template>
     <h1>防抖按钮</h1>
    <ZbButton type="primary" :debounceWait="500" @click="handleClick">
        提交 
    </ZbButton>
    <div>点击{{ count }}次</div>
</template>
  
